<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Commerce App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/aigen_styles_v2.css">
</head>
<header id="app_header">
        <h1 id="header_h1">Commerce App V1</h1>
        <h3 id="header_h3">Shopping List</h3>
    </header>
<body>
    <div id="app_body">
        <h2 id="body_h2">Application Body</h2>
        <div id="app_container">
            <form id="app_form">
                <h4 id="form_h4">Select Tiles</h4>
                <div id="tile_selection">
                    <label for="tile_1">
                        <input type="checkbox" id="tile_1" name="tile" value="Tile 1">
                        Tile 1
                    </label>
                    <br>
                    <label for="tile_2">
                        <input type="checkbox" id="tile_2" name="tile" value="Tile 2">
                        Tile 2
                    </label>
                    <br>
                    <label for="tile_3">
                        <input type="checkbox" id="tile_3" name="tile" value="Tile 3">
                        Tile 3
                    </label>
                </div>
                <br>
                <label for="submit_tiles">Submit Tiles</label>
                <input type="submit" id="submit_tiles">
            </form>
        </div>
    </div>
</body>
<footer id="app_footer">
        <div id="about">
            <p>Created By: Justin Reyes</p>
            <p><a href="mailto:justin.reyes@email.com">Contact Me</a></p>
            <p>Python 3.12 / Flask / Ubuntu Server / MySQL</p>
        </div>
    </footer>
</html>
